[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]
ipdb = "*"
django-extensions = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[packages]
django = "~=2.2.24"
django-environ = "~=0.4.5"
psycopg2 = "~=2.8.4"
waitress = "~=1.4.3"
whitenoise = "~=5.0.1"
djangorestframework = "~=3.11.0"
django-bootstrap4 = "~=1.1.1"
django-allauth = "~=0.41.0"
django-storages = "*"
pillow = "*"
django-suit = "==0.2.26"
django-import-export = "*"
boto3 = "*"
