{% extends 'admin/base.html' %}
{% load i18n admin_static suit_tags %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
{% endblock %}
{% csrf_token %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static 'admin/' %}{% endfilter %}";</script>
{% block suit_jquery %}{% if '1.9'|django_version_gte %}<script src="{% static 'suit/js/jquery-2.2.4.min.js' %}">{% else %}<script src="{% static 'suit/js/jquery-1.8.3.min.js' %}">{% endif %}</script><script type="text/javascript">var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; </script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://momentjs.com/downloads/moment-timezone-with-data-10-year-range.js"></script>{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <span class="header-label">{% trans 'UGG Admin' %}</span></a>
    </h1>
{% endblock %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
    <span class="separator">|</span>
    {% endif %}
    <a href="/admin/tabletpass">{% trans 'Set password on Tablet' %}</a>
    <span class="separator">|</span>
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
    <span class="separator">|</span>
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block header_time %}
{% endblock %}

{% block footer %}
{% endblock %}