{% extends "admin/base.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from suit_compat %}
{% load custom_tags %}

{% block extrahead %}{{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}
  <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

  {{ media }}

{% endblock %}


{% block extrajs %}
  {{ block.super }}

  {% if 'CONFIRM_UNSAVED_CHANGES'|suit_conf %}
    <!-- Warn on leaving unsaved form -->
    <script src="{% static 'suit/js/suit-form-confirm.js' %}"></script>
    <script type="text/javascript">
      confirmExitIfModified('{% firstof opts.model_name opts.module_name %}_form', '{% trans 'You have unsaved changes' %}.');
    </script>
  {% endif %}

  {% if adminform.model_admin.suit_form_tabs %}
    <script type="text/javascript">
    (function ($) {
      $(function () {
        $('#suit_form_tabs').suit_form_tabs();
      });
    }(Suit.$))
    </script>
  {% endif %}
        
  <script>
    (function ($) {
      $(function () {
        $("#{% firstof opts.model_name opts.module_name %}_form").suit_form_debounce();
      });
    }(Suit.$))    
  </script>

{% endblock %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block content_title_value %}
  {% trans 'Add' %} {{ opts.verbose_name }}
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        {% if has_change_permission %}
          <a href="{% url opts|admin_urlname:'changelist' %}">
            {{ opts.verbose_name_plural|capfirst }}</a>{% else %}
          {{ opts.verbose_name_plural|capfirst }}{% endif %}
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% if add %}{% trans 'Add' %}
            {% if opts.verbose_name == 'sweep user' %}
            User
            {% elif opts.verbose_name == 'sweepstakes' %}
            Sweepstake
            {% elif opts.verbose_name == 'tablet' %}
            Tablet
            {% endif %}
        {% else %}
            {{ original|truncatewords:"18" }}
        {% endif %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main" class="inner-two-columns">

    <form {% if has_file_field or opts.verbose_name == 'survey' %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
          id="{% firstof opts.model_name opts.module_name %}_form" class="form-horizontal" novalidate>

      <div class="inner-right-column">

        <div class="box save-box">

          {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

        </div>

        {% block object-tools %}
          {% if change %}{% if not is_popup %}
            <h4 class="italic-title">{% trans 'tools'|capfirst %}</h4>
            <ul class="box menu-box">
              {% block object-tools-items %}
                <li>
                  {% if '1.9'|django_version_lt %}
                  <a href="history/" class="historylink">
                  {% else %}
                  {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                  <a href="{% add_preserved_filters history_url %}" class="historylink">
                  {% endif %}
                  <i class="icon-time icon-alpha75"></i>{% trans "History" %}</a>
                </li>
                {% if has_absolute_url %}
                  <li>
                    <a href="{{ absolute_url }}" class="viewsitelink"><i class="icon-eye-open icon-alpha75"></i>{% trans "View on site" %}</a>
                  </li>
                {% endif %}

                {% if has_add_permission %}
                  <li>
                    {% if '1.9'|django_version_lt %}
                    <a href="../add/">
                    {% else %}
                    <a href="{% url opts|admin_urlname:'add' %}">
                    {% endif %}
                      <i class="icon-plus-sign icon-alpha75"></i>{% blocktrans with opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                    </a>
                  </li>
                  {# {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>#}
                {% endif %}

              {% endblock %}
            </ul>
          {% endif %}{% endif %}
        {% endblock %}

      {% block sidebar %}{% endblock %}

      </div>
      <div class="inner-center-column">
        {% csrf_token %}{% block form_top %}{% endblock %}
        {% block suit_form_tabs %}
          {% if adminform.model_admin.suit_form_tabs %}
            <ul id="suit_form_tabs" class="nav nav-tabs nav-tabs-suit" data-tab-prefix="suit-tab">
              {% for tab in adminform.model_admin.suit_form_tabs %}
                <li><a href="#{{ tab.0 }}">{{ tab.1 }}</a></li>{% endfor %}
            </ul>
          {% endif %}
        {% endblock %}
        <div class="tab-content tab-content-main {{ opts.verbose_name }}">
          {% if is_popup %}
            <input type="hidden" name="_popup" value="1"/>{% endif %}
          {% if errors %}
            <div class="alert alert-error">
              {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
              {{ adminform.form.non_field_errors }}
            </div>
          {% endif %}

          {# render suit_form_includes at top position #}
          {% include 'suit/includes/change_form_includes.html' with position='top' %}

          {% block field_sets %}
            {% if opts.verbose_name == 'survey' %}
              {% for fieldset in adminform %}
                {% split request.path '/' as path_array %}
                <input type="text" class="survey_id" value="{{path_array.4}}" style="display: none;" />
                <fieldset class="suit-form module aligned {{ fieldset.classes }}">
                  <div class="form-group" id="survey_main_part"></div>
                  {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
                  {% if fieldset.description %}
                    <div class="description">{{ fieldset.description|safe }}</div>
                  {% endif %}
                  {% for line in fieldset %}
                    {% with is_single=line.fields|length_is:'1' %}
                      <div class="form-group row form-row {% if is_single and line.errors or field.errors %} has-danger errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if field.field.is_hidden %} hidden{% endif %}{% endfor %}">
                        {% for field in line %}
                          {% if 'question_' in field.field.name %}
                            <div class="survey_question_part">
                              <div class="row">
                                <div class="col-left">
                                  {{field.label_tag}}
                                </div>
                                <div class="col-right">
                                  <div class='choice_part'>
                                      <input type='radio' name="{{field.field.name}}_choice" value="1" />
                                      <label>Multiple Choice</label>
                                  </div>
                                  <div class='choice_part'>
                                      <input type='radio' name="{{field.field.name}}_choice" value="2" />
                                      <label>Multiple Choice (Images)</label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-left">
                                  <label>Question:</label>
                                </div>
                                <div class="col-right">
                                  <textarea name="{{field.field.name}}_question_text" class="question_text"></textarea>
                                </div>
                              </div>
                              <div class="answer_text_part">
                                <div class="row">
                                  <div class="col-left"><label>Number of Options:</label></div>
                                  <div class="col-right">
                                      <select name="{{field.field.name}}_number_of_options" class="numberofquestions">
                                        {% for i in '23456' %}
                                          <option value="{{i}}">{{i}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div>
                                {% for i in '123456' %}
                                <div class="row">
                                  <div class="col-left"><label>Option {{i}}:</label></div>
                                  <div class="col-right">
                                    <div class="answer_part">
                                      <textarea name="{{field.field.name}}_question_answer_text_{{i}}" class="question_answer_text"></textarea>
                                      <div class="answer_select_part">
                                        <div class="answer_goto_question">
                                          <input type="radio" name="{{field.field.name}}_question_answer_complete_{{i}}" value="1" />
                                          <label>If selected, go to question</label>
                                          <select name="{{field.field.name}}_question_answer_option_{{i}}">
                                            {% for i in "0123456789" %}
                                            {% if i|add:1 != field.field.name|slice:"9:10" %}
                                              <option value="{{i|add:1}}">{{i|add:1}}</option>
                                            {% endif %}
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="answer_goto_question">
                                            <input type="radio" name="{{field.field.name}}_question_answer_complete_{{i}}" value="2" />
                                            <label>If selected, complete survey</label>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                              <div class="answer_image_part">
                                  <div class="row">
                                    <div class="col-left"><label>Number of Options:</label></div>
                                    <div class="col-right">
                                      <div class="numberoption_container">
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="2" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item"></div>
                                            <div class="option_image_count_item"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="3" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="4" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="5" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="6" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="7" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="8" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="9" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 31px; height: 20px"></div>
                                            <div class="option_image_count_item" style="width: 31px; height: 0px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 10px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 10px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 10px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 10px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 10px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 10px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 10px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 10px"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="10" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 31px; height: 20px"></div>
                                            <div class="option_image_count_item" style="width: 31px; height: 20px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="10" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 20px; height: 15px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                          </div>
                                        </div>
                                        <div class="option_col">
                                          <input type="radio" name="{{field.field.name}}_question_answer_image_number" value="10" />
                                          <div class="option_image_count">
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                            <div class="option_image_count_item" style="width: 14px; height: 12px"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% for i in "11111111111" %}
                                  <div class="image_row row">
                                    <div class="col-left"><label>Option {{forloop.counter}}:</label></div>
                                    <div class="col-right">
                                      <div class="answer_part">
                                        <div class="image_change">
                                          Currently: <span></span> <input type="hidden" class="option_image_name" name="{{field.field.name}}_question_answer_imagename_{{forloop.counter}}" />                                        
                                        </div>
                                        <div class="image_field_container">
                                          <span>Change To: </span>
                                          <input type="file" name="{{field.field.name}}_question_answer_image_{{forloop.counter}}" accept="image/*" required="">
                                        </div>
                                        <div class="row">
                                          <label>Tag: </label>
                                          <input type="text" name="{{field.field.name}}_question_answer_image_text_{{forloop.counter}}" />
                                        </div>
                                        <div class="answer_select_part">
                                          <div class="answer_goto_question">
                                            <input type="radio" name="{{field.field.name}}_question_answer_image_complete_{{forloop.counter}}" value="1" />
                                            <label>If selected, go to question</label>
                                            <select name="{{field.field.name}}_question_answer_image_option_{{forloop.counter}}">
                                              {% for i in "0123456789" %}
                                              {% if i|add:1 != field.field.name|slice:"9:10" %}
                                                <option value="{{i|add:1}}">{{i|add:1}}</option>
                                              {% endif %}
                                              {% endfor %}
                                            </select>
                                          </div>
                                          <div class="answer_goto_question">
                                              <input type="radio" name="{{field.field.name}}_question_answer_image_complete_{{forloop.counter}}" value="2" />
                                              <label>If selected, complete survey</label>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% endfor %}
                              </div>
                            </div>
                          {% else %}
                              {% if is_single or forloop.first %}
                                <div class="col-left"><label for="{{ field.field.id_for_label }}" class="form-control-label">{{ field.label_tag }}</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
                              {% endif %}
                              {# Open multi-field #}
                              {% if not is_single %}
                                <div class="multi-field {% if field.errors %} has-danger errors{% endif %}">
                                {% if not forloop.first %}
                                  <label for="{{ field.field.id_for_label }}" class="form-control-label">{{ field.label_tag }}</label>
                                  <div class="multi-field-content">
                                {% endif %}
                              {% endif %}
                              {% if field.is_readonly %}
                                <p class="form-control-static">{{ field.contents }}</p>
                              {% else %}
                                {{ field.field }}
                              {% endif %}
                              {% if field.errors and not is_single and not field.is_readonly %}
                                <div class="text-help">
                                  {{ field.errors }}
                                </div>
                              {% endif %}
                              {% if is_single and line.errors %}
                                <div class="text-help">
                                  {{ line.errors }}
                                </div>
                              {% endif %}
                              {% if field.field.help_text %}
                                <small class="text-help">{{ field.field.help_text|safe }}</small>
                              {% endif %}
              
                              {# Close multi-field #}
                              {% if not is_single %}
                                  {# Close multi-field-content #}
                                  {% if not forloop.first %}
                                      </div>
                                  {% endif %}
                                  </div>
                              {% endif %}
              
                              {# Close multi-row first field container #}
                              {% if is_single or forloop.last %}
                                  </div>
                              {% endif %}
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endwith %}
                  {% endfor %}
                </fieldset>
              {% endfor %}
            {% else %}
              {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" %}
              {% endfor %}
            {% endif %}
          {% endblock %}

          {% block after_field_sets %}{% endblock %}

          {# render suit_form_includes at middle position #}
          {% include 'suit/includes/change_form_includes.html' with position='middle' %}

          {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
              {% include inline_admin_formset.opts.template %}
            {% endfor %}
          {% endblock %}

        </div>

        {% block after_related_objects %}{% endblock %}

        {# render suit_form_includes at last position #}
        {% include 'suit/includes/change_form_includes.html' with position='bottom' %}

        {% block admin_change_form_document_ready %}
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function() {
                        $('.add-another').click(function(e) {
                            e.preventDefault();
                            showAddAnotherPopup(this);
                        });
                        $('.related-lookup').click(function(e) {
                            e.preventDefault();
                            showRelatedObjectLookupPopup(this);
                        });
                    {% if adminform and add %}
                        $('form#{% firstof opts.model_name opts.module_name %}_form :input[type!=button][type!=submit]:visible:enabled:first').focus()
                    {% endif %}
                    });
                })(django.jQuery);
            </script>
        {% endblock %}

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}

      </div>
    </form>
  </div>
{% endblock %}

{# Empty centered sidebar as now we use sidebar in content block#}
{% block sidebar_content %}{% endblock %}