{% extends "admin/base.html" %}

{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="/admin/">Home</a>
        <span class="divider">»</span>
      </li>
      <li class="active">
        Reports
      </li>
    </ul>
  {% endblock %}

{% block content %}
    <div id="content-main">
        Reports
    </div>
{% endblock %}