{% extends "admin/base.html" %}

{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% load custom_tags %}

{% block content %}
  <div id="content-main">
    {% get_sweepstakedata request.GET.id as sweepstake %}
    <div class="sweepstake_row">
      <h1>{{ sweepstake.name }}</h1>
      <a class='btn btn-info' href='/admin/settings?select=tablet&id={{sweepstake.id}}'>Settings</a>
    </div>
    <div class="sweepstake_row">
      <input type="text" class="textbox" placeholder="Search by Tablet ID" />
      <input type="button" class="btn btn-info" value="Generate Winner" />
      <input type="button" class="btn btn-info" value="Winners" />
    </div>
    {% gettablets_fromsweepid request.GET.id as tablets %}
    <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th scope="col" {{ header.class_attrib }}>
          First Name
        </th>
        <th scope="col" {{ header.class_attrib }}>
          Last Name
        </th>
        <th scope="col" {{ header.class_attrib }}>
          Phone
        </th>
        <th scope="col" {{ header.class_attrib }}>
          Tablet ID
        </th>
        <th scope="col" {{ header.class_attrib }}>
          Check In
        </th>
        </tr>
      </thead>
      <tbody>
        {% for tablet in tablets %}
          <tr>
            <td>
              {{ tablet.first_name }}
            </td>
            <td>
              {{ tablet.last_name }}
            </td>
            <td>
              {{ tablet.phone }}
            </td>
            <td>
              {{ tablet.tablet_id }}
            </td>
            <td>
              {{ tablet.check_time }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}