{% extends "admin/base.html" %}

{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% load custom_tags %}

{% block breadcrumbs %}
{% get_sweepstakedata request.GET.id as sweepstake %}
<ul class="breadcrumb">
    <li>
    <a href="/admin/">Home</a>
    <span class="divider">»</span>
    </li>
    <li>
      <a href="/admin/home/sweepstakes/">Sweepstakes</a>
      <span class="divider">»</span>
    </li>
    <li class="active">
    {{sweepstake.name}}
    </li>
</ul>
{% endblock %}

{% block content %}
  {% get_sweepstakedata request.GET.id as sweepstake %}
  <div id="content-main">
    <div class="sweepstake_row">
      <h1>{{ sweepstake.name }}</h1>
      <a class='btn btn-info' href='/admin/settings?select=tablet&id={{sweepstake.id}}'>Settings</a>
    </div>
    <div class="sweepstake_row">
      <input type="text" class="textbox" id="searchbyTableID" placeholder="Search by Tablet ID" />
      <input type="button" class="btn btn-info" id="generatewinner" value="Generate Winner" />
      <a class="btn btn-info" id="showwinners" href="/admin/sweepwinners?id={{request.GET.id}}">Winners</a>
    </div>
    {% gettablets_fromsweepid request.GET.id request.GET.key request.GET.pagenumber as tablets %}
    <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th scope="col" {{ header.class_attrib }}>
          First Name
        </th>
        <th scope="col" {{ header.class_attrib }}>
          Last Name
        </th>
        <th scope="col" {{ header.class_attrib }}>
          Phone
        </th>
        <th scope="col" {{ header.class_attrib }}>
          Tablet ID
        </th>
        <th scope="col" {{ header.class_attrib }}>
          Check In
        </th>
        </tr>
      </thead>
      <tbody>
        {% for tablet in tablets.data %}
          <tr>
            <td>
              {{ tablet.user.first_name }}
            </td>
            <td>
              {{ tablet.user.last_name }}
            </td>
            <td>
              {{ tablet.user.phone }}
            </td>
            <td>
              {{ tablet.tablet_info.name }}
            </td>
            <td>
              {{ tablet.check_time }}
            </td>
          </tr>
        {% endfor %}
        <div id="winnerpopup">aaaaa</div>
        <input type="hidden" id="sweepID" value="{{ request.GET.id }}" />
        <input type="hidden" id="sweepKey" value="{{ request.GET.key }}" />
        <input type="hidden" id="tabletIDS" value="{{ tablets.ids|join:',' }}" />
      </tbody>
    </table>
    {% getcheckincount_fromarray request.GET.id request.GET.key request.GET.pagenumber as pagecountdata %}
    {% getcheckinindexes pagecountdata.totalcount request.GET.pagenumber as checkinIndexes %}
    <div class="pagination-block">
      <input type="button" class="btn btn-info" id="downloadsweepdetails" value="Download" />
      {% if pagecountdata.totalcount > 100 %}
      <div class="pagination">
        <ul>
          {% for page in pagecountdata.pagecount %}
            {% if page != 'sis' %}
              {% if request.GET.key %}
                {% if request.GET.pagenumber|add:0 == page or request.GET.pagenumber == None and page == 0 %}
                  <li class="active"><a href="?id={{request.GET.id}}&key={{request.GET.key}}&pagenumber={{page}}">{{page|add:1}}</a></li>
                {% else %}
                  <li><a href="?id={{request.GET.id}}&key={{request.GET.key}}&pagenumber={{page}}">{{page|add:1}}</a></li>
                {% endif %}
              {% else %}
                {% if request.GET.pagenumber|add:0 == page or request.GET.pagenumber == None and page == 0 %}
                  <li class="active"><a href="?id={{request.GET.id}}&pagenumber={{page}}">{{page|add:1}}</a></li>
                {% else %}
                  <li><a href="?id={{request.GET.id}}&pagenumber={{page}}">{{page|add:1}}</a></li>
                {% endif %}
              {% endif %}
            {% else %}
              <li class="disabled"><a href="#">...</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="pagination-info muted">
        {{ checkinIndexes.0 }} - {{ checkinIndexes.1 }} / {{ pagecountdata.totalcount }} CheckIns
      </div>
    </div>
  </div>
{% endblock %}