
#content-main{
  width: 100%
}

.sweepstakes{
  margin-bottom: 10px;
}

.sweep_add{
  margin-top: 10px;
}

.sweepstake_row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 500px;
}

.sweepstake_row h1{
  margin-left: 10px;
}

.sweepstake_row .textbox{
  margin-bottom: 0;
  margin-left: 7px;
}