
#content-main{
  width: 100%
}

.sweepstakes{
  margin-bottom: 10px;
  display: flex;
}

.sweepstakes .sweepstakecontain{
  margin-right: 5px;
}

.sweep_add{
  margin-top: 10px;
}

.sweepstake_row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 500px;
}

.sweepstake_row h1{
  margin-left: 10px;
}

.sweepstake_row .textbox{
  margin-bottom: 0;
  margin-left: 7px;
}

#content-main .settingspanel{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sweepItems{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#content-main  .saveSettings{
  padding: 10px;
  width: 15%;
  font-size: 25px;
  align-self: center;
}

#content-main  .sweepItemContainer{
  width: 50%;
  align-self: center;
}

#content-main  .sweepItem{
  font-size: 25px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  background: transparent;
  border: 1px solid #999;
  outline: none;
}

.sweepstakes .selectedsweep{
  outline: none;
  background: none;
  border: 1px solid #999;
}

.sweepstakes .selectedsweep.active{
  background: #ddd;
}

#content-main  .sweepItem.active{
  background: #ccc;
}

.searchTabletContainer{
  display: flex;
  margin-bottom: 10px;
}

#searchTabletText{
  margin-bottom: 0 !important;
  margin-right: 10px;
}

#winnerpopup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  border: 1px solid #333;
  padding: 20px;
  background: #ddd;
  display: none;
}

#downloadsweepdetails{
  margin-left: 20px;
}
.results table{
  table-layout: fixed;
  border-collapse: collapse;
}
.results tbody{
  display:block;
  overflow:auto;
  height:500px;
  width:100%;
}
.results tr{
  width: 100%;
  display:flex;
}

.results th, .results td {
  flex-basis:100%;
  flex-grow:2;
  display: block;
  padding: 1rem;
  text-align:left;
  word-break: break-all;
}

.control-group .controls ul {
  margin:0;
}

.control-group .controls ul li{
  display: block
}

.control-group .controls ul li input[type='radio']{
  margin-top: -5px;
}

#sweepstakes_form .field-background_image_after_sweepstake_check .controls, #sweepstakes_form .field-survey1_check .controls, #sweepstakes_form .field-survey2_check .controls, #sweepstakes_form .field-prioritize_sweepstakes .controls, #sweepstakes_form .field-customer_checkin_frequency .controls{
  vertical-align: middle;
}

#sweepstakes_form .field-background_image_after_sweepstake_check .controls ul, #sweepstakes_form .field-survey1_check .controls ul, #sweepstakes_form .field-survey2_check .controls ul, #sweepstakes_form .field-prioritize_sweepstakes .controls ul, #sweepstakes_form .field-customer_checkin_frequency .controls ul{
  display: flex;
}

#sweepstakes_form .field-background_image_after_sweepstake_check .controls ul li, #sweepstakes_form .field-survey1_check .controls ul li, #sweepstakes_form .field-survey2_check .controls ul li, #sweepstakes_form .field-prioritize_sweepstakes .controls ul li, #sweepstakes_form .field-customer_checkin_frequency .controls ul li{
  margin-right: 10px;
}